<html>
    <head>
        <link rel="stylesheet" href="LeagueLiveGame.css">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
        <div id="teams">
            <div class="team-cover">
                <div id="team-blue" class="team">
                
                <div id="champion-1" class="champion-card">
                    <div class="header">
                        <div class="pfp"><img src="http://ddragon.leagueoflegends.com/cdn/10.3.1/img/profileicon/685.png"></div>
                        <div class="cover-border">
                            <div class="cover-border-left">
                                <div class="name white-font">AMeyburgh</div>
                                <div class="lvl white-font">Lvl. 42</div>
                            </div>
                            <div class="cover-border-right">
                                <div class="time-wasted white-font">262 Hours Wasted</div>
                            </div>
                        </div>
                    </div>
                    <div class="body">
                        <div class="field-row">
                            <div class="field field-left">
                                <div class="field-title white-font">KDA Distrabution:</div>
                                <div class="field-value grey-font">12.00 4.00 3.00</div>
                            </div>
                            <div class="field field-right">
                                <div class="field-title white-font">KDA:</div>
                                <div class="field-value grey-font">3.75 KDA</div>
                            </div>
                            <div class="field-clear"></div>
                        </div>
                    </div>
                    <div class="footer-cover-disabled">
                        <div class="footer">
                            <div class="champion-pfp"><img src="http://ddragon.leagueoflegends.com/cdn/10.3.1/img/champion/Aatrox.png"></div>
                            <div class="cover-border">
                                <div class="cover-border-left">
                                    <div class="champion-name white-font">Aartoxh</div>
                                    <div class="champion-lvl white-font">Lvl. 3</div>
                                    <div class="champion-points white-font">11023 pts.</div>
                                </div>

                                <div class="cover-border-right">
                                    <div class="cover-skills">
                                        <div class="champion-skill-1 champion-skill"><img src="http://ddragon.leagueoflegends.com/cdn/10.3.1/img/spell/SummonerFlash.png"></div>
                                        <div class="champion-skill-2 champion-skill"><img src="http://ddragon.leagueoflegends.com/cdn/10.3.1/img/spell/SummonerFlash.png"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                </div>
                    
                <div id="champion-2" class="champion-card">
                    <div class="header">
                        <div class="pfp"><img src="http://ddragon.leagueoflegends.com/cdn/10.3.1/img/profileicon/685.png"></div>
                        <div class="cover-border">
                            <div class="cover-border-left">
                                <div class="name white-font">AMeyburgh</div>
                                <div class="lvl white-font">Lvl. 42</div>
                            </div>
                            <div class="cover-border-right">
                                <div class="time-wasted white-font">262 Hours Wasted</div>
                            </div>
                        </div>
                    </div>
                    <div class="body">
                        <div class="field-row">
                            <div class="field field-left">
                                <div class="field-title white-font">KDA Distrabution:</div>
                                <div class="field-value grey-font">12.00 4.00 3.00</div>
                            </div>
                            <div class="field field-right">
                                <div class="field-title white-font">KDA:</div>
                                <div class="field-value grey-font">3.75 KDA</div>
                            </div>
                            <div class="field-clear"></div>
                        </div>
                    </div>
                    <div class="footer-cover-disabled">
                        <div class="footer">
                            <div class="champion-pfp"><img src="http://ddragon.leagueoflegends.com/cdn/10.3.1/img/champion/Aatrox.png"></div>
                            <div class="cover-border">
                                <div class="cover-border-left">
                                    <div class="champion-name white-font">Aartoxh</div>
                                    <div class="champion-lvl white-font">Lvl. 3</div>
                                    <div class="champion-points white-font">11023 pts.</div>
                                </div>

                                <div class="cover-border-right">
                                    <div class="cover-skills">
                                        <div class="champion-skill-1 champion-skill"><img src="http://ddragon.leagueoflegends.com/cdn/10.3.1/img/spell/SummonerFlash.png"></div>
                                        <div class="champion-skill-2 champion-skill"><img src="http://ddragon.leagueoflegends.com/cdn/10.3.1/img/spell/SummonerFlash.png"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                </div>
                    
                <div id="champion-3" class="champion-card">
                    <div class="header">
                        <div class="pfp"><img src="http://ddragon.leagueoflegends.com/cdn/10.3.1/img/profileicon/685.png"></div>
                        <div class="cover-border">
                            <div class="cover-border-left">
                                <div class="name white-font">AMeyburgh</div>
                                <div class="lvl white-font">Lvl. 42</div>
                            </div>
                            <div class="cover-border-right">
                                <div class="time-wasted white-font">262 Hours Wasted</div>
                            </div>
                        </div>
                    </div>
                    <div class="body">
                        <div class="field-row">
                            <div class="field field-left">
                                <div class="field-title white-font">KDA Distrabution:</div>
                                <div class="field-value grey-font">12.00 4.00 3.00</div>
                            </div>
                            <div class="field field-right">
                                <div class="field-title white-font">KDA:</div>
                                <div class="field-value grey-font">3.75 KDA</div>
                            </div>
                            <div class="field-clear"></div>
                        </div>
                    </div>
                    <div class="footer-cover-disabled">
                        <div class="footer">
                            <div class="champion-pfp"><img src="http://ddragon.leagueoflegends.com/cdn/10.3.1/img/champion/Aatrox.png"></div>
                            <div class="cover-border">
                                <div class="cover-border-left">
                                    <div class="champion-name white-font">Aartoxh</div>
                                    <div class="champion-lvl white-font">Lvl. 3</div>
                                    <div class="champion-points white-font">11023 pts.</div>
                                </div>

                                <div class="cover-border-right">
                                    <div class="cover-skills">
                                        <div class="champion-skill-1 champion-skill"><img src="http://ddragon.leagueoflegends.com/cdn/10.3.1/img/spell/SummonerFlash.png"></div>
                                        <div class="champion-skill-2 champion-skill"><img src="http://ddragon.leagueoflegends.com/cdn/10.3.1/img/spell/SummonerFlash.png"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                </div>
                    
                <div id="champion-4" class="champion-card">
                    <div class="header">
                        <div class="pfp"><img src="http://ddragon.leagueoflegends.com/cdn/10.3.1/img/profileicon/685.png"></div>
                        <div class="cover-border">
                            <div class="cover-border-left">
                                <div class="name white-font">AMeyburgh</div>
                                <div class="lvl white-font">Lvl. 42</div>
                            </div>
                            <div class="cover-border-right">
                                <div class="time-wasted white-font">262 Hours Wasted</div>
                            </div>
                        </div>
                    </div>
                    <div class="body">
                        <div class="field-row">
                            <div class="field field-left">
                                <div class="field-title white-font">KDA Distrabution:</div>
                                <div class="field-value grey-font">12.00 4.00 3.00</div>
                            </div>
                            <div class="field field-right">
                                <div class="field-title white-font">KDA:</div>
                                <div class="field-value grey-font">3.75 KDA</div>
                            </div>
                            <div class="field-clear"></div>
                        </div>
                    </div>
                    <div class="footer-cover-disabled">
                        <div class="footer">
                            <div class="champion-pfp"><img src="http://ddragon.leagueoflegends.com/cdn/10.3.1/img/champion/Aatrox.png"></div>
                            <div class="cover-border">
                                <div class="cover-border-left">
                                    <div class="champion-name white-font">Aartoxh</div>
                                    <div class="champion-lvl white-font">Lvl. 3</div>
                                    <div class="champion-points white-font">11023 pts.</div>
                                </div>

                                <div class="cover-border-right">
                                    <div class="cover-skills">
                                        <div class="champion-skill-1 champion-skill"><img src="http://ddragon.leagueoflegends.com/cdn/10.3.1/img/spell/SummonerFlash.png"></div>
                                        <div class="champion-skill-2 champion-skill"><img src="http://ddragon.leagueoflegends.com/cdn/10.3.1/img/spell/SummonerFlash.png"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                </div>
                    
                <div id="champion-5" class="champion-card">
                    <div class="header">
                        <div class="pfp"><img src="http://ddragon.leagueoflegends.com/cdn/10.3.1/img/profileicon/685.png"></div>
                        <div class="cover-border">
                            <div class="cover-border-left">
                                <div class="name white-font">AMeyburgh</div>
                                <div class="lvl white-font">Lvl. 42</div>
                            </div>
                            <div class="cover-border-right">
                                <div class="time-wasted white-font">262 Hours Wasted</div>
                            </div>
                        </div>
                    </div>
                    <div class="body">
                        <div class="field-row">
                            <div class="field field-left">
                                <div class="field-title white-font">KDA Distrabution:</div>
                                <div class="field-value grey-font">12.00 4.00 3.00</div>
                            </div>
                            <div class="field field-right">
                                <div class="field-title white-font">KDA:</div>
                                <div class="field-value grey-font">3.75 KDA</div>
                            </div>
                            <div class="field-clear"></div>
                        </div>
                    </div>
                    <div class="footer-cover-disabled">
                        <div class="footer">
                            <div class="champion-pfp"><img src="http://ddragon.leagueoflegends.com/cdn/10.3.1/img/champion/Aatrox.png"></div>
                            <div class="cover-border">
                                <div class="cover-border-left">
                                    <div class="champion-name white-font">Aartoxh</div>
                                    <div class="champion-lvl white-font">Lvl. 3</div>
                                    <div class="champion-points white-font">11023 pts.</div>
                                </div>

                                <div class="cover-border-right">
                                    <div class="cover-skills">
                                        <div class="champion-skill-1 champion-skill"><img src="http://ddragon.leagueoflegends.com/cdn/10.3.1/img/spell/SummonerFlash.png"></div>
                                        <div class="champion-skill-2 champion-skill"><img src="http://ddragon.leagueoflegends.com/cdn/10.3.1/img/spell/SummonerFlash.png"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                </div>
                </div>
            </div>
            <div class="team-cover">
                <div id="team-red" class="team">
                <div class="team-color-tab"></div>
                
                <div id="champion-6" class="champion-card">
                    <div class="header">
                        <div class="pfp"><img src="http://ddragon.leagueoflegends.com/cdn/10.3.1/img/profileicon/685.png"></div>
                        <div class="cover-border">
                            <div class="cover-border-left">
                                <div class="name white-font">AMeyburgh</div>
                                <div class="lvl white-font">Lvl. 42</div>
                            </div>
                            <div class="cover-border-right">
                                <div class="time-wasted white-font">262 Hours Wasted</div>
                            </div>
                        </div>
                    </div>
                    <div class="body">
                        <div class="field-row">
                            <div class="field field-left">
                                <div class="field-title white-font">KDA Distrabution:</div>
                                <div class="field-value grey-font">12.00 4.00 3.00</div>
                            </div>
                            <div class="field field-right">
                                <div class="field-title white-font">KDA:</div>
                                <div class="field-value grey-font">3.75 KDA</div>
                            </div>
                            <div class="field-clear"></div>
                        </div>
                    </div>
                    <div class="footer-cover-disabled">
                        <div class="footer">
                            <div class="champion-pfp"><img src="http://ddragon.leagueoflegends.com/cdn/10.3.1/img/champion/Aatrox.png"></div>
                            <div class="cover-border">
                                <div class="cover-border-left">
                                    <div class="champion-name white-font">Aartoxh</div>
                                    <div class="champion-lvl white-font">Lvl. 3</div>
                                    <div class="champion-points white-font">11023 pts.</div>
                                </div>

                                <div class="cover-border-right">
                                    <div class="cover-skills">
                                        <div class="champion-skill-1 champion-skill"><img src="http://ddragon.leagueoflegends.com/cdn/10.3.1/img/spell/SummonerFlash.png"></div>
                                        <div class="champion-skill-2 champion-skill"><img src="http://ddragon.leagueoflegends.com/cdn/10.3.1/img/spell/SummonerFlash.png"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                </div>
                    
                <div id="champion-7" class="champion-card">
                    <div class="header">
                        <div class="pfp"><img src="http://ddragon.leagueoflegends.com/cdn/10.3.1/img/profileicon/685.png"></div>
                        <div class="cover-border">
                            <div class="cover-border-left">
                                <div class="name white-font">AMeyburgh</div>
                                <div class="lvl white-font">Lvl. 42</div>
                            </div>
                            <div class="cover-border-right">
                                <div class="time-wasted white-font">262 Hours Wasted</div>
                            </div>
                        </div>
                    </div>
                    <div class="body">
                        <div class="field-row">
                            <div class="field field-left">
                                <div class="field-title white-font">KDA Distrabution:</div>
                                <div class="field-value grey-font">12.00 4.00 3.00</div>
                            </div>
                            <div class="field field-right">
                                <div class="field-title white-font">KDA:</div>
                                <div class="field-value grey-font">3.75 KDA</div>
                            </div>
                            <div class="field-clear"></div>
                        </div>
                    </div>
                    <div class="footer-cover-disabled">
                        <div class="footer">
                            <div class="champion-pfp"><img src="http://ddragon.leagueoflegends.com/cdn/10.3.1/img/champion/Aatrox.png"></div>
                            <div class="cover-border">
                                <div class="cover-border-left">
                                    <div class="champion-name white-font">Aartoxh</div>
                                    <div class="champion-lvl white-font">Lvl. 3</div>
                                    <div class="champion-points white-font">11023 pts.</div>
                                </div>

                                <div class="cover-border-right">
                                    <div class="cover-skills">
                                        <div class="champion-skill-1 champion-skill"><img src="http://ddragon.leagueoflegends.com/cdn/10.3.1/img/spell/SummonerFlash.png"></div>
                                        <div class="champion-skill-2 champion-skill"><img src="http://ddragon.leagueoflegends.com/cdn/10.3.1/img/spell/SummonerFlash.png"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                </div>
                    
                <div id="champion-8" class="champion-card">
                    <div class="header">
                        <div class="pfp"><img src="http://ddragon.leagueoflegends.com/cdn/10.3.1/img/profileicon/685.png"></div>
                        <div class="cover-border">
                            <div class="cover-border-left">
                                <div class="name white-font">AMeyburgh</div>
                                <div class="lvl white-font">Lvl. 42</div>
                            </div>
                            <div class="cover-border-right">
                                <div class="time-wasted white-font">262 Hours Wasted</div>
                            </div>
                        </div>
                    </div>
                    <div class="body">
                        <div class="field-row">
                            <div class="field field-left">
                                <div class="field-title white-font">KDA Distrabution:</div>
                                <div class="field-value grey-font">12.00 4.00 3.00</div>
                            </div>
                            <div class="field field-right">
                                <div class="field-title white-font">KDA:</div>
                                <div class="field-value grey-font">3.75 KDA</div>
                            </div>
                            <div class="field-clear"></div>
                        </div>
                    </div>
                    <div class="footer-cover-disabled">
                        <div class="footer">
                            <div class="champion-pfp"><img src="http://ddragon.leagueoflegends.com/cdn/10.3.1/img/champion/Aatrox.png"></div>
                            <div class="cover-border">
                                <div class="cover-border-left">
                                    <div class="champion-name white-font">Aartoxh</div>
                                    <div class="champion-lvl white-font">Lvl. 3</div>
                                    <div class="champion-points white-font">11023 pts.</div>
                                </div>

                                <div class="cover-border-right">
                                    <div class="cover-skills">
                                        <div class="champion-skill-1 champion-skill"><img src="http://ddragon.leagueoflegends.com/cdn/10.3.1/img/spell/SummonerFlash.png"></div>
                                        <div class="champion-skill-2 champion-skill"><img src="http://ddragon.leagueoflegends.com/cdn/10.3.1/img/spell/SummonerFlash.png"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                </div>
                    
                <div id="champion-9" class="champion-card">
                    <div class="header">
                        <div class="pfp"><img src="http://ddragon.leagueoflegends.com/cdn/10.3.1/img/profileicon/685.png"></div>
                        <div class="cover-border">
                            <div class="cover-border-left">
                                <div class="name white-font">AMeyburgh</div>
                                <div class="lvl white-font">Lvl. 42</div>
                            </div>
                            <div class="cover-border-right">
                                <div class="time-wasted white-font">262 Hours Wasted</div>
                            </div>
                        </div>
                    </div>
                    <div class="body">
                        <div class="field-row">
                            <div class="field field-left">
                                <div class="field-title white-font">KDA Distrabution:</div>
                                <div class="field-value grey-font">12.00 4.00 3.00</div>
                            </div>
                            <div class="field field-right">
                                <div class="field-title white-font">KDA:</div>
                                <div class="field-value grey-font">3.75 KDA</div>
                            </div>
                            <div class="field-clear"></div>
                        </div>
                    </div>
                    <div class="footer-cover-disabled">
                        <div class="footer">
                            <div class="champion-pfp"><img src="http://ddragon.leagueoflegends.com/cdn/10.3.1/img/champion/Aatrox.png"></div>
                            <div class="cover-border">
                                <div class="cover-border-left">
                                    <div class="champion-name white-font">Aartoxh</div>
                                    <div class="champion-lvl white-font">Lvl. 3</div>
                                    <div class="champion-points white-font">11023 pts.</div>
                                </div>

                                <div class="cover-border-right">
                                    <div class="cover-skills">
                                        <div class="champion-skill-1 champion-skill"><img src="http://ddragon.leagueoflegends.com/cdn/10.3.1/img/spell/SummonerFlash.png"></div>
                                        <div class="champion-skill-2 champion-skill"><img src="http://ddragon.leagueoflegends.com/cdn/10.3.1/img/spell/SummonerFlash.png"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                </div>
                    
                <div id="champion-10" class="champion-card">
                    <div class="header">
                        <div class="pfp"><img src="http://ddragon.leagueoflegends.com/cdn/10.3.1/img/profileicon/685.png"></div>
                        <div class="cover-border">
                            <div class="cover-border-left">
                                <div class="name white-font">AMeyburgh</div>
                                <div class="lvl white-font">Lvl. 42</div>
                            </div>
                            <div class="cover-border-right">
                                <div class="time-wasted white-font">262 Hours Wasted</div>
                            </div>
                        </div>
                    </div>
                    <div class="body">
                        <div class="field-row">
                            <div class="field field-left">
                                <div class="field-title white-font">KDA Distrabution:</div>
                                <div class="field-value grey-font">12.00 4.00 3.00</div>
                            </div>
                            <div class="field field-right">
                                <div class="field-title white-font">KDA:</div>
                                <div class="field-value grey-font">3.75 KDA</div>
                            </div>
                            <div class="field-clear"></div>
                        </div>
                    </div>
                    <div class="footer-cover-disabled">
                        <div class="footer">
                            <div class="champion-pfp"><img src="http://ddragon.leagueoflegends.com/cdn/10.3.1/img/champion/Aatrox.png"></div>
                            <div class="cover-border">
                                <div class="cover-border-left">
                                    <div class="champion-name white-font">Aartoxh</div>
                                    <div class="champion-lvl white-font">Lvl. 3</div>
                                    <div class="champion-points white-font">11023 pts.</div>
                                </div>

                                <div class="cover-border-right">
                                    <div class="cover-skills">
                                        <div class="champion-skill-1 champion-skill"><img src="http://ddragon.leagueoflegends.com/cdn/10.3.1/img/spell/SummonerFlash.png"></div>
                                        <div class="champion-skill-2 champion-skill"><img src="http://ddragon.leagueoflegends.com/cdn/10.3.1/img/spell/SummonerFlash.png"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="loading-bar">
                                <div class="loading-bar-bottom"></div>
                                <div class="loading-bar-top" style="width: 42%;"></div>
                            </div>
                            </div>
                        </div>
                        </div>
                </div>
            </div>
        </div>
    <script src="LeagueLiveGame.js"></script>
    </body>
</html>
